<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                Morbi molestie et metus et faucibus. Ut quis eros erat. 
                Ut non quam eu quam ultricies euismod id id mi. 
                Etiam molestie venenatis lacus, sed ornare lectus maximus id. 
                Quisque semper sapien libero, ut semper sem maximus at. 
                Praesent erat felis, aliquam in eleifend vel, consequat ac est. 
                Integer arcu lectus, ultrices sit amet tempor accumsan, consectetur vitae mi. 
                Nullam vitae metus non nisi posuere euismod.
            </p>
        </section>
        <address>
            <h2 class="footer-title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>e-mail@email.com.br</li>
                <li><i class="fa-solid fa-phone"></i>(00) 0000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i>(00) 0 0000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer-copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>